.myMegazin .body{
    border: dashed 3px #bfc0c2;
    margin: 2%;

    }
    .gray{
        color: #bfc0c2;
    }
    .myMegazin {
        background-color: #ecedee;
        width: 100%;
        height: 100%;
    }
.left{
    float: left;
    left:10px;
    direction: ltr;
}
.right{
     float: right;
    right: 10px;
    direction: rtl;
}
.myMegazin .btn{
/* width:; */
cursor: pointer;
border: none;
border-radius: 5px;
font-display: inherit;

}
.myMegazin .wideBtn{
    width: 95%;
    height: 80%;
    border:none;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    margin:2.5%;
    border-bottom: 3px solid transparent;
    
}
.myMegazin .wideBtn input{
    background-color: transparent;
    border-color: white;
    border-top: none;
    border-right: none;
    border-left: none;
    color: white;
    
}
.myMegazin .wideBtn input :active{
 background-color: tomato;
}

.myMegazin .wideBtn:hover{
    /* background-color: rgb(163, 162, 162); */
    border-bottom: 3px solid #0d8dac;
    
}
.myMegazin .black{
    background-color: black;
    color: white;
}
.myMegazin .red{
background-color: #ff1f1f;
color: white;
}
.myMegazin .blue{
    background-color: #0d8dac;
    color: white;
    }

.myMegazin #menue li{
    display: inline;
    margin-right: 5%;
  
}
.myMegazin #menue li:hover{
  border-bottom: 1px solid #0d8dac ;
  cursor: pointer;
  
}
.myMegazin #menue {
    border-top: 1px solid #bfc0c2 ;
    
    padding: 15px;
    /* border:10px solid black; */
}
.myMegazin #menue li:first-child{
    color:  #0d8dac;
}
.listPostImage{
  background-color: white;
    /* border: 1px solid black; */
     width: 20%;
       display: inline-block;
    margin:10px;
    padding:2[x];
  cursor: pointer;
    


}
.listPostImage img{
width: 100%;
height: 50%;
}