.aside{
    background-color:rgb(58, 64, 96);
    position: fixed;
    right: 0;
    height: 100%;
    width: 20%;
    border-top-left-radius: 100px;
    padding-top: 200px;
}
.asideBottom{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: black;
    height: 20px;
}
.caret {
    cursor: pointer;
    user-select: none; /* Prevent text selection */
  }
  .caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
  }
  body{
    padding:50px;
    background:#fff;
  }
  .cards{
    background-color:rgb(58, 64, 96) !important;
    color:white;
    border: none !important;
    margin-bottom: 5px;
  }
  .buttonCards{
    width: 90%;
    border:1px solid rgb(168, 167, 167) !important;
    margin: auto;
    border-radius: 5px !important;
    color: rgb(168, 167, 167) !important;
  }
  .buttonCards:hover{
    opacity: 0.5;
  }
  .buttonCards:active{
    border: none !important;
  }
  
